# https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/performing_an_advanced_rhel_installation/kickstart-commands-and-options-reference_installing-rhel-as-an-experienced-user

# Set the authentication options for the system
auth --passalgo=sha512 --useshadow
# License agreement
eula --agreed
# Use network installation
url --url="https://download.rockylinux.org/pub/rocky/9/BaseOS/x86_64/os/"
repo --name="AppStream" --baseurl=https://download.rockylinux.org/pub/rocky/9/AppStream/x86_64/os/
# Use text mode install
text
# Disable Initial Setup on first boot
firstboot --disable
# Keyboard layout
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8
# Network information
network --bootproto=dhcp --device=link --activate
network --hostname=rocky9.localdomain
# Root password
rootpw $1$HW9m0e13$eTTxRQJE7V6y5slIgO2eY0 --iscrypted
# SELinux configuration
selinux --enforcing
# Do not configure the X Window System
skipx
# System timezone
timezone Europe/Moscow
# Add a user named ansible
user --groups=wheel --name=ansible --password=$1$nBP2V3An$zIq18K82hFKDK3yFLwJ6e/ --iscrypted --gecos="ansible"
# System bootloader configuration
bootloader --location=mbr --append="crashkernel=auto"
# Clear the Master Boot Record
zerombr
# Remove partitions
clearpart --all --initlabel
# Disk partition
part /boot/efi --fstype=vfat --size=600
part /boot --fstype=xfs --size=1024
part pv.01 --grow
# Create LVM
volgroup main pv.01
logvol / --vgname=main --name=root --fstype=xfs --percent=100
# Reboot after successful installation
reboot

%packages --ignoremissing
# dnf group info minimal-environment
@^minimal-environment
# Exclude unnecessary firmwares
-iwl*firmware
%end

%post --nochroot --logfile=/mnt/sysimage/root/ks-post.log
# Disable quiet boot and splash screen
sed --follow-symlinks -i "s/ rhgb quiet//" /mnt/sysimage/etc/default/grub
sed --follow-symlinks -i "s/ rhgb quiet//" /mnt/sysimage/boot/grub2/grubenv

# Passwordless sudo for the user 'ansible'
echo "ansible ALL=(ALL) NOPASSWD: ALL" >> /mnt/sysimage/etc/sudoers.d/ansible
%end
